<mat-card class="card-class">
    <mat-card-header class="card-head">
      Don Quixote broke another Tire
    </mat-card-header>
    <mat-list class="card-list">
      <mat-list-item class="card-item">
        <span matListItemTitle class="card-label">Summary:</span>
        <span class="card-report-author" matListItemLine>Author: Outis</span>
        <p class="card-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat veniam temporibus consequatur at! Numquam distinctio excepturi iusto deleniti et. Optio autem quod officia nihil possimus accusamus sed perferendis sit culpa?</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="card-item">
        <span matListItemTitle class="card-label">Report:</span>
        <span class="card-report-time" matListItemLine>Date of the report: 4/20/2023</span>
        <p class="card-report">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nisi dolor eaque ipsum in, minus vel inventore unde omnis nulla, at cum ex numquam aperiam sint blanditiis amet quidem explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis commodi, earum voluptate impedit in ex dolor dolorem fuga laboriosam reprehenderit possimus saepe fugiat, quibusdam hic perspiciatis deleniti delectus eos. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi qui, quas libero deserunt ullam dolore quam. Quasi, aperiam ipsam, culpa ex laboriosam inventore vero perspiciatis ipsum, dolores possimus unde ut.</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="card-item">
        <span matListItemTitle class="card-label">Fixes:</span>
        <span class="card-fix-time" matListItemLine>Date of the Fix: 4/28/2023</span>
        <p class="card-fix">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nisi dolor eaque ipsum in, minus vel inventore unde omnis nulla, at cum ex numquam aperiam sint blanditiis amet quidem explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis commodi, earum voluptate impedit in ex dolor dolorem fuga laboriosam reprehenderit possimus saepe fugiat, quibusdam hic perspiciatis deleniti delectus eos. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi qui, quas libero deserunt ullam dolore quam. Quasi, aperiam ipsam, culpa ex laboriosam inventore vero perspiciatis ipsum, dolores possimus unde ut.</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
