.table-card{
    margin: 2%;
    width: 96%;
    text-align: left;
    float: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    padding: 1rem;
}

caption, th, td {
    padding: 1rem;
    
}

caption, th {
    text-align: left;
}

caption {
    background: linear-gradient(120deg, rgba(145,255,144,1) 0%, rgba(39,84,179,1) 50%);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}
