<mat-card class="table-card">
    <table>
        <caption>LigmaBus</caption>

        <tr>
            <th>Name</th>
            <th>Sub</th>
            <th>Grade</th>
            <th>status</th>
        </tr>

        <tr>
            <td data-cell = "name">John Doe</td>
            <td data-cell = "subject">IT</td>
            <td data-cell = "grade">2.00</td>
            <td data-cell = "status">Passed</td>
        </tr>
        
        <tr>
            <td data-cell = "name">John Doe</td>
            <td data-cell = "subject">IT</td>
            <td data-cell = "grade">2.00</td>
            <td data-cell = "status">Passed</td>
        </tr>
        
        <tr>
            <td data-cell = "name">John Doe</td>
            <td data-cell = "subject">IT</td>
            <td data-cell = "grade">2.00</td>
            <td data-cell = "status">Passed</td>
        </tr>
        
        <tr>
            <td data-cell = "name">John Doe</td>
            <td data-cell = "subject">IT</td>
            <td data-cell = "grade">2.00</td>
            <td data-cell = "status">Passed</td>
        </tr>
        
        <tr>
            <td data-cell = "name">John Doe</td>
            <td data-cell = "subject">IT</td>
            <td data-cell = "grade">2.00</td>
            <td data-cell = "status">Passed</td>
        </tr>
        
        <tr>
            <td data-cell = "name">John Doe</td>
            <td data-cell = "subject">IT</td>
            <td data-cell = "grade">2.00</td>
            <td data-cell = "status">Passed</td>
        </tr>
        
        <tr>
            <td data-cell = "name">John Doe</td>
            <td data-cell = "subject">IT</td>
            <td data-cell = "grade">2.00</td>
            <td data-cell = "status">Passed</td>
        </tr>
        
        <tr>
            <td data-cell = "name">John Doe</td>
            <td data-cell = "subject">IT</td>
            <td data-cell = "grade">2.00</td>
            <td data-cell = "status">Passed</td>
        </tr>
        
        <tr>
            <td data-cell = "name">John Doe</td>
            <td data-cell = "subject">IT</td>
            <td data-cell = "grade">2.00</td>
            <td data-cell = "status">Passed</td>
        </tr>
        
        <tr>
            <td data-cell = "name">John Doe</td>
            <td data-cell = "subject">IT</td>
            <td data-cell = "grade">2.00</td>
            <td data-cell = "status">Passed</td>
        </tr>
        
    </table>

</mat-card>